@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Our movie collection</h1>
    <p class="lead">Here you can find more about our awesome movies</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
      
        <iframe width="420" height="315"
                src="https://www.youtube.com/embed/nSDgHBxUbVQ?autoplay=0"></iframe>
    </div>
   
    <div class="col-md-6">
        <!--<img src="3.jpg" alt="Image" height="150" width="150" />-->
        <iframe width="420" height="315"
                src="https://www.youtube.com/embed/BZQ_KOzsIMc?autoplay=0"></iframe>
    </div>
</div>